<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamCare"
        tools:targetApi="31">
        <activity
            android:name=".view.onboarding.ThirdOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.onboarding.SecondOnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.maps.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".view.booking.BookMonthlyActivity"
            android:exported="false" />
        <activity
            android:name=".view.booking.BookDailyActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.TermsOfServicesActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.EditProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBGQ_iz4_WK81YszAb2ewbBCEWv3gTXKw" />

        <activity
            android:name=".view.maps.DaycareMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".view.maps.ElderlyMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".view.facilities.FacilitiesActivity"
            android:exported="false" />
        <activity
            android:name=".view.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.detailpost.DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".view.detailhistory.DetailHistoryBDActivity"
            android:exported="false" />
        <activity
            android:name=".view.detailhistory.DetailHistoryBMActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.bookmark.BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>